@using TGP.Seguridad.BussinessLogic.Dto
@model NominadoViewModel
@{
    ViewBag.Title = "Seg - Nuevo Usuario Nominado";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}
@*<link href="~/Content/template/style_+.css" rel="stylesheet" />*@

<div class="uk-grid sigaf-titulo">
    <div class="uk-width-1-2">
        <h2 class="uk-margin-bottom">Nuevo Usuario Nominado</h2>
    </div>
    <div class="uk-width-large-1-2">
        <div class="uk-grid uk-grid-small uk-flex uk-flex-right" data-uk-grid-margin data-uk-grid-match="{target:'.md-btn-sigaf'}">
            <div>
                <button id="btnGenerar" onclick="UsuarioSigaf()" title="generar" class="md-btn md-btn-sigaf md-btn-accent md-fab-wave-light waves-effect waves-button waves-light">
                    <h2 class="heading_d uk-text-left md-color-white">
                        Importar
                        <span class="sub-heading md-color-white uk-text-upper">
                            desde SIGAF
                        </span>
                    </h2>
                    <i class="icon-appSigaf material-icons">arrow_drop_down_circle</i>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="md-card uk-margin-bottom">
    <div class="md-card-content">

        @using (Ajax.BeginForm("GuardarNuevoNominado", "Usuario", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "MostrarResultados", OnFailure = "MostrarResultados"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="uk-grid uk-margin-small-top">
                <div class="uk-width-medium-1-3">
                    @Html.Label("Apellido", "Apellido")
                    @Html.TextBoxFor(model => model.Apellido, new { @class = "md-input label-fixed", maxlength = 255 })
                    @Html.ValidationMessageFor(model => model.Apellido, null, new { @class = "error" })

                </div>

                <div class="uk-width-medium-1-3">
                    @Html.Label("Nombre", "Nombre")
                    @Html.TextBoxFor(model => model.NombreNominado, new { @class = "md-input label-fixed", maxlength = 255 })
                    @Html.ValidationMessageFor(model => model.NombreNominado, null, new { @class = "error" })

                </div>

                <div class="uk-width-medium-1-3">
                    @Html.Label("DNI", "DNI")
                    @Html.TextBoxFor(model => model.NumeroDni, new { @class = "md-input label-fixed", maxlength = 10 })
                    @Html.ValidationMessageFor(model => model.NumeroDni, null, new { @class = "error" })
                </div>
            </div>
            <div class="uk-grid">

                <div class="uk-width-medium-1-3">
                    @Html.Label("Saf", "Saf")
                    @Html.DropDownListFor(model => model.CodigoMsaf, (SelectList)ViewBag.Servicios, new { @class = "selectize md-input label-fixed" })
                    @Html.ValidationMessageFor(model => model.CodigoMsaf, null, new { @class = "error" })

                </div>

                <div class="uk-width-medium-1-3">
                    @Html.Label("Cargo", "Cargo")
                    @Html.DropDownListFor(model => model.NivelJerarquico.Codigo, (SelectList)ViewBag.Cargos, new { @class = "selectize md-input label-fixed" })
                    @Html.ValidationMessageFor(model => model.NivelJerarquico, null, new { @class = "error" })

                </div>

                <div class="uk-width-medium-1-3">
                    @Html.Label("Autenticación", "Autenticación")
                    @Html.DropDownListFor(model => model.TipoAutenticacion.Codigo, (SelectList)ViewBag.TiposAutenticacion, new { @class = "selectize md-input label-fixed", id = "tipoAutenticacion" })
                    @Html.ValidationMessageFor(model => model.TipoAutenticacion, null, new { @class = "error" })
                </div>
            </div>

            <div class="uk-grid">
                <div class="uk-width-1-5">
                    @Html.Label("Usuario", "Usuario")
                    @Html.TextBoxFor(model => model.NombreUsuario, new { @class = "md-input label-fixed", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.NombreUsuario, null, new { @class = "error" })
                </div>

                <div class="uk-width-1-5" id="password">
                    @Html.Label("Contraseña", "Contraseña")
                    @Html.TextBoxFor(model => model.Contrasena, new { @id = "pass", @class = "md-input label-fixed", type = "password", minlength = 8, maxlength = 30, autocomplete = "new-password" })
                    @Html.ValidationMessageFor(model => model.Contrasena, null, new { @class = "error" })
                </div>


                <div class="uk-width-1-5" id="password-confirmar">
                    @Html.Label("Confirmar Contraseña", "Confirmar Contraseña")
                    @Html.TextBoxFor(model => model.Contrasena2, new { @id = "pass2", @class = "md-input label-fixed", type = "password", minlength = 8, maxlength = 30 })
                    @Html.ValidationMessageFor(model => model.Contrasena2, null, new { @class = "error" })
                </div>


                <div class="uk-width-2-5">
                    @Html.Label("E-Mail", "E-Mail")
                    @Html.TextBoxFor(model => model.EMail, new { @class = "md-input label-fixed" })
                    @Html.ValidationMessageFor(model => model.EMail, null, new { @class = "error" })
                </div>
            </div>

            <div class="uk-grid">
                <div class="uk-width-1-5">
                    @Html.Label("TipoTel", "Tipo Telefono")
                    <select id="tipoTelefono" name="TipoTelefono" class="selectize md-input label-fixed">
                        <option value='C' selected>Movil</option>
                        <option value='F' selected>Fijo</option>
                    </select>
                </div>
                <div class="uk-width-1-5">
                    @Html.Label("CodArea", "Cod Area")
                    @Html.TextBoxFor(model => model.CodigoAreaTelefono, new { @class = "md-input label-fixed" })
                    @Html.ValidationMessageFor(model => model.CodigoAreaTelefono, null, new { @class = "error" })

                </div>
                <div class="uk-width-2-5">
                    @Html.Label("Numero", "Numero")
                    @Html.TextBoxFor(model => model.NumeroTelefono, new { @class = "md-input label-fixed" })
                    @Html.ValidationMessageFor(model => model.NumeroTelefono, null, new { @class = "error" })

                </div>
                <div id="interno" class="uk-width-1-5">
                    @Html.Label("Interno", "Interno")
                    @Html.TextBoxFor(model => model.NumeroInterno, new { @class = "md-input label-fixed", @maxlength = "5" })
                </div>
            </div>



            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <span class="icheck-inline">
                        @Html.Label("Activo", "Activo")
                        @Html.CheckBoxFor(model => model.SiActivo, new { data_switchery = "" })
                    </span>
                    <span class="icheck-inline">
                        @Html.Label("Bloqueado", "Bloqueado")
                        @Html.CheckBoxFor(model => model.SiBloqueado, new { data_switchery = "", data_switchery_color = "#d32f2f" })
                    </span>
                    <span class="icheck-inline">
                        @Html.Label("SiDGA", "Dga")
                        @Html.CheckBoxFor(model => model.SiDGA, new { data_md_icheck = "" })
                    </span>
                </div>
            </div>


            <div class="uk-width-1-1">
                <div class="uk-flex uk-flex-center uk-margin-small-top">
                    <button title="Guardar" id="btnGuardar" class="md-btn md-btn-accent" type="submit"><span>Guardar</span></button>
                </div>
            </div>

        }
    </div>
</div>

@Html.Partial("Partials/_ImportarUsuarioSIGAF")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            activarMenu("#ListadoNominados-Usuario");
            aplicarSelectize($('.selectize'));
            if ($('#tipoAutenticacion').val() == '@UsuarioDTO.SIGAF')
            {
                $('#password').hide();
                $('#password-confirmar').hide();
            }
            else {
                $('#password').show();
                $('#password-confirmar').show();
            }
            $('#tipoTelefono').on('change', function () {
                if (this.value == 'F') {
                    $('#interno').show();
                } else {
                    $('#interno').hide();
                }
            });
        });


        function UsuarioSigaf() {
            //loadData();
            UIkit.modal("#modal-usuario-sigaf").show();
        }


        $("#btnGuardar").click(function (e) {
            e.preventDefault();
            if ($('#tipoAutenticacion').val() == '@UsuarioDTO.SIGAF') {
                $('#pass').val('12345678');
                $('#pass2').val('12345678');
                $('#password').show(); //muestro los campos antes de hacer el submit, para que envie los valores al controlador
                $('#password-confirmar').show();
            }
            if ($("#form0").valid()) {
                $("#form0").submit();
                showLoadingModal();
            }
        });

        function MostrarResultados(data) {
            hideLoadingModal();
            swal({
                title: "",
                text: data.mensaje,
                icon: data.tipoMensaje,
                buttons: {
                    confirm: "Aceptar"
                },
                closeOnClickOutside: false,
            }).then(() => {
                if (data.tipoMensaje != "error") {
                        //hideLoadingModal();
                        window.location.href = "@Url.Action("ListadoNominados")";
                }
            });
           
        }

        var url = '@Url.Action("GetUsuariosSIGAF", "Usuario", null)';
        $.UIkit.autocomplete($('#usuarioSIGAF'), {
            source: function (response) {
                $.ajax({
                    url: url,
                    data: { query: this.value },
                    dataType: 'json',
                    type: 'POST',
                    success: function (data) {
                        response($.map(data, function (item) {
                            $('#v_uSIGAF').val(item.CUser);
                            return {
                                value: item.CUser + ' - ' + item.XcUser,
                                id: item.CUser,
                            }
                        }));
                    }
                })
            },
            minLength: 3,
        });

        $("#usuarioSIGAF input").on("change", function () {
            if ($("#usuarioSIGAF input").val() == undefined || $("#usuarioSIGAF input").val() == '') {
                $("#usuarioSIGAF input").val("");
                $('#v_uSIGAF').val("");
                disabledBtn("#editarUsuSigaf");
            } else if ($("#usuarioSIGAF input").val() != $("#usuarioSIGAF").val()) {
                $("#usuarioSIGAF input").val("");
                $('#v_uSIGAF').val("");
                enableBtn("#editarUsuSigaf");

            }
        });
        $('#usuarioSIGAF').on('selectitem.uk.autocomplete', function (event, data) {
            $('#v_uSIGAF').val(data.id);
            $('#usuarioSIGAF').val(data.value);
        });


        function enableBtn(tag) {
            if ($(tag).hasClass("disabled")) {
                $(tag).removeClass("disabled");
            }
        }

        function disabledBtn(tag) {
            if (!$(tag).hasClass("disabled")) {
                $(tag).addClass("disabled");
            }
        }

      function seleccionar() {
        var value = $('#v_uSIGAF').val();
        var url = '@Html.Raw(Url.Action("CargarUsuarioSIGAF", "Usuario"))' + '?cUser=' + value;
        window.location.href = url;
      }

    $('#tipoAutenticacion').change(function () {
        if ($('#tipoAutenticacion').val() != '@UsuarioDTO.SIGAF') {
            $('#pass').val("");
            $('#pass2').val("");
            $('#password').show();
            $('#password-confirmar').show();
        }
        else {
            $('#pass').val('@((Model != null) ? Model.Contrasena : "")');
            $('#pass2').val('@((Model != null) ? Model.Contrasena2 : "")');
            $('#password').hide();
            $('#password-confirmar').hide();
        }
    });

    </script>
}