@using TGP.Seguridad.BussinessLogic.Dto
@model RolUsuarioViewModel
@{
    ViewBag.Title = "Permisos de Usuario";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}


<div class="uk-grid sigaf-titulo">
    <div class="uk-width-1-2">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="uk-width-large-1-2">
        <div class="uk-grid uk-grid-small uk-flex uk-flex-right" data-uk-grid-margin data-uk-grid-match="{target:'.md-btn-sigaf'}">
            <div>
                <button onclick="VolverBtn()" class="md-btn md-btn-primary md-btn-sigaf md-fab-wave-light waves-effect waves-button waves-light uk-margin-bottom">
                    <h2 class="heading_c md-color-white uk-text-left">
                        Volver
                        <span class="sub-heading md-color-white uk-text-upper">
                            &nbsp;
                        </span>
                    </h2>
                    <i class="icon-appSigaf md-color-black material-icons">reply</i>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="actividades-alert">
    @if (ViewBag.ActividadesEnConflicto != null)
    {
        List<string> actividades = ViewBag.ActividadesEnConflicto;
        @Html.Partial("Partials/_ActividadesEnConflicto", actividades)
    }
</div>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <div class="uk-form-row">
            <div class="md-card uk-margin-bottom">
                <div class="md-card-content">
                    @using (Ajax.BeginForm("AsociarRolUsuario", "Usuario", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "MostrarResultados", OnFailure = "MostrarResultados" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.Hidden("IdUsuario", Model.IdUsuario)
                        @Html.Partial("Partials/_FormRolUsuario")

                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>

        function MostrarResultados(data) {
            hideLoadingModal();
            swal({
                title: "",
                text: data.mensaje,
                icon: data.tipoMensaje,
                buttons: {
                    confirm: "Aceptar"
                },
                closeOnClickOutside: false
            }).then(() => {
                if (data.tipoMensaje == "error") {
                    $("#actividades-alert").html(data.renderedView);
                } else {
                    VolverBtn();
                }
            });
        }

        //Inicio document ready
        $(document).ready(function () {
            $('#nodoFuncionalID').hide();
            $('#guardarRol').hide();
            $("#formAsocUsuario").keydown(function (e) {
                if(e.keyCode === 13){
                    e.preventDefault();
                }
            });
            $("#filterEstructuras").val('@Model.Estructura');
            $("#filterEstructuras").change();
            aplicarSelectize($('.selectize'));
            aplicarSelectizeMultiple($("#multiselectNodo-all"));
            activarMenu("#ListadoNominados-Usuario");
            estructura = new FilterTypeSelect($('#filterEstructuras'));

            $("#filterEstructuras").change(function () {
                if (!isNullOrEmpty('#filterEstructuras') && $("#filterEstructuras").val() != "")
                    changeEstructura();
            }).keyup(function () {
                if (!isNullOrEmpty('#filterEstructuras') && $("#filterEstructuras").val() != "")
                    changeEstructura();
                });
            $("#rol").on("change", changeRol);
        });
        //Fin document ready


        function selectAll() {
            $(function () {
                var $projectNodosIds = $('#multiselectNodo-all')[0].selectize;
                var optKeys = Object.keys($projectNodosIds.options);
                optKeys.forEach(function (key, index) {
                    $projectNodosIds.addItem(key);
                });
            });
        }

        function desSelectAll() {
            $(function () {
                $('#multiselectNodo-all').selectize({})[0].selectize.clear();
            });
        }



        function changeRol() {
            if ($('#rol').val() === "") {
                $('#nodoFuncionalID').hide();
                $('#guardarRol').hide();
            } else {
                $('#nodoFuncionalID').show();
                $('#guardarRol').show();
            }
            if($('#multiselectNodo-all').selectize({})[0] != undefined)
                $('#multiselectNodo-all').selectize({})[0].selectize.clearOptions();
            if (!isNullOrEmpty($("#rol option:selected").val())) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetNodosSelecionablesPorUsuarioRol", "Usuario")',
                    data: {
                        idUsuario: $("#IdUsuario").val(),
                        rol: $("#rol option:selected").val()
                    },
                    beforeSend: function (xhr) {
                        showLoadingModal();
                    },
                    success: function (data) {
                        $("#nodoFuncionalID").html(data);
                        initSelectNodoFuncional();
                        hideLoadingModal();
                    }, error: function (e) {
                        hideLoadingModal();
                    }
                });
            }
        }

        function changeEstructura() {
          //Llamada que trae los roles de la estructura
          $.ajax({
               url: '@Url.Action("GetRolesChangeEstructura", "Usuario")',
               type: "POST",
                    data: {
                        estructura: $("#filterEstructuras").val()
                    },

               beforeSend: function (xhr) {
                   //sacar el cerrar con el ESC al modal
                   showLoadingModal();

               },
               success: function (data) {

                   if (data !== null) {
                       let selectizeControl = $('#rol').selectize()[0].selectize;
                       selectizeControl.clearOptions();
                       $.each(data, function (i, data) {
                           if (data.Value === -1) {
                               selectizeControl.addOption({ value: data.Value, text: data.Text });
                               selectizeControl.addItem(-1);
                           } else {
                               selectizeControl.addOption({ value: data.Value, text: data.Text });
                           }
                       }
                       );
                       let array = Object.keys(selectizeControl.options);
                       if (array.length === 1) {
                           selectizeControl.addItem(array[0]);
                       }
                       $('#rol').change();
                       hideLoadingModal();
                   }
               },
          });

        }


        function updateDatatable() {
            table = $('#lista-permisos').dataTable({
                "scrollX": true,
                iDisplayLength: 25,
                aaSorting: [[1, "asc"]],
                dom: "<'uk-grid' <'uk-width-large-1-2 countCheck'><'uk-width-large-1-2 uk-flex uk-flex-right'<'agregarNuevoDestBtn uk-margin-right'><'eliminarDestBtn'>>>" +
                "<'uk-grid uk-margin-small-bottom'<'uk-width-large-3-10'l><'uk-width-large-3-10 uk-padding-remove'f> <'uk-width-large-4-10 uk-padding-remove uk-flex uk-flex-right'B>>tirp",
                colVis: {
                    buttonText: '<i class="fa fa-eye" title="Mostrar / Ocultar"></i>',
                    restore: "Reestablecer",
                    showAll: "Mostrar Todas"
                },
                aoColumnDefs: [
                    //{ bSortable: false, aTargets: [5] },
                ],
                "lengthMenu": [[25, 50, 100, 300], [25, 50, 100, 300]],
                buttons: [
                    { extend: 'copy', className: 'md-btn md-btn-small', text: 'Copiar' },
                    { extend: 'csv', title: '@ViewBag.Title', className: 'md-btn md-btn-small' },
                    { extend: 'pdf', title: '@ViewBag.Title', className: 'md-btn md-btn-small', orientation: 'landscape', exportOptions: { columns: [0, 1, 2], }, customize: function (doc) { doc.defaultStyle.alignment = 'landscape'; } },
                    { extend: 'print', className: 'md-btn md-btn-small', text: 'Imprimir' }
                ],
                language: agregarLenguajeDatatable(),
            });
        }

        function initSelectNodoFuncional()
        {
            if ($('#multiselectNodo-all').hasClass("selectize")) {
                aplicarSelectize($('#multiselectNodo-all'));
            } else {
                aplicarSelectizeMultiple($("#multiselectNodo-all"));
            }

            $("#multiselectNodo-all").unbind("change");
            $("#multiselectNodo-all").on("change", function () {
                if ($("#multiselectNodo-all").val() != null && $("#multiselectNodo-all").val() != "") {
                    $("#guardarRol").removeClass("uk-hidden");
                } else {
                    $("#guardarRol").addClass("uk-hidden");
                }

            });
        }

        function VolverBtn() {
            window.location.href = "@Url.Action("Permisos","Usuario", new { id = Model.IdUsuario, tipoUsuario = ViewBag.TipoUsuario })";
        };
    </script>
}

